.Image-container{
text-align: center;
}

.Variant-images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
}

.Main-image{
    margin-top: 50px;
    width: 400px;
    height: 400px;
    display: inline-block;
    box-shadow: 2px 2px 20px rgb(68, 3, 129);
    border-radius: 30%;
    @media only screen and (max-width: 660px){
        width: 200px;
        height: 200px; 
        margin-right: 20px;   
    }
}

.Variant {
    width: 70px;
    margin-top: 30px;
    cursor: pointer;
    border: 1px solid black;
    margin-right: 32px;
}